body{
  margin: 0;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: #40514E;
  font-weight: bold;
  line-height: 2;

}

h1{
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 1;
}

h2{
  margin: 20 auto 0 auto;
  font-family: 'Lemonada', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  line-height: 1;

}

.web_designer{
  font-weight: normal;
  line-height: 0;
  margin-top:20px;
}

.nav_bar{
  background-color: #36322a;
  width:100%;
  height:60px;
}

.footer{
  background-color: #66BFBF;
  width:100%;
  height:150px;
}

h4{
  display: inline-block;
  margin: 40px 20px 20px;
}

.skill-row{
  width: 50%;
  margin: 70px auto 80px;
  text-align: left;
  line-height: 2;
}

.skill-coding{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-web-development{
  width: 25%;
  float:right;
  margin-left: 30px;
}

.bike-riding{
  width: 25%;
  float: left;
  margin-right: 30px;
}

h3{
  color: #11999E;
  margin-bottom: 0;
}
a{
  color: #11999E;
  text-decoration: none;
}


p{
  margin-top: 0;
}


hr{
  margin-top: 80px;
  margin-bottom: 80px;
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 7px;
  width: 5%;
}

.profile{
  margin: 0 auto 0 auto;
  width:30%;
}

.profile-picture{
  margin: 20% auto 10px auto;
  width:60%;
}

.cloud-top{
  height:100px;
  width:150px;
  right:300px;
  top:50px;
  position: absolute;
}


.cloud-bottom{
  height:100px;
  width:150px;
  left:200px;
  position: absolute;
}

.mountains{
  height:500px;
  width:700px;
}

.top_container{
  background-color: #ecf4f3;
  position: relative;
  padding-top: 100px;
}

.contact-me{
  width: 40%;
  margin: 0 auto 0;
}

.btn{
  width:150px;
  border-radius: 10px;
  font-size: 1.2rem;
  background: #58D7D7;
  margin: 50px auto 100px;
  padding: 3px;
}
